<h2>Import Card Data</h2>

<%= form_tag cardcontroller_import_url, multipart: true do %>
  <%= file_field_tag :file %> <br></br>
  <%= submit_tag "Import" %>
<% end %>

<br>
<p id="notice"><%= notice %></p>  
<%= page_entries_info @cards, :model => 'card' =%>
<br></br>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>UIN</th>  
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= card.uin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= will_paginate @cards =%></p>
<br>

