<h2>Import Card Data</h2>

<p id="notice"><%= notice %></p>  
<%= page_entries_info @cards, :model => 'card' =%>

<%= form_tag cardcontroller_import_url, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>UIN</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= card.uin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p><%= will_paginate @cards =%></p>
<br>

