<%= simple_form_for(@student) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uin, label: false, placeholder: 'UIN' %>
    <%= f.input :fname, label: false, placeholder: 'First Name' %>
    <%= f.input :lname, label: false, placeholder: 'Last Name' %>
    <%= f.input :card, label: false, placeholder: 'Card Number' %>
    <%= f.input :email, label: false, placeholder: 'Email' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
