<p id="notice"><%= notice %></p>

<p>
  <strong>Uin:</strong>
  <%= @student.uin %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<br> </br>

<%= link_to 'Back', report_student_path(@student) %>
