<p id="notice"><%= notice %></p>

 <div class="form-group" >
  <%= form_tag import_students_path, multipart: true do %>
 <div class="input-group">
    <%= file_field_tag :file %>
    <span class="input-group-btn">
       <%= submit_tag("Import", :class => "sub_button" ) %>
    </span>
 </div>
 <% end %>
</div>

<hr>

<h3>Listing Students</h3>
<%= form_for_filterrific @filterrific do |f| =%>
      <tr>
        <td>
          <%= f.text_field :search_query, :class => 'filterrific-periodically-observed form-control' =%>
        </td>
        <td>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by],
                      {}, { :class => 'form-control' } =%>
        </td>
        <td>
          <%= link_to "Reset filters", reset_filterrific_url =%>
        </td>
        <td>
          <%= link_to 'New Student', new_student_path %>
        </td>
        <td>
          <%= render_filterrific_spinner =%>
        </td>
      </tr>
  <% end %>
<br>
<div id="results">
  <%= render :partial => 'students/list',
           :locals => { :students => @students } =%>
</div>
  <br>
  <p><%= will_paginate @students =%></p>
  <br>
