<p id="notice"><%= notice %></p>

<h3>Reporting Student Checkin data</h3>
<%= page_entries_info @students, :model => 'student' =%>.
<br></br>
<table>
  <thead>
    <tr>
      <th>UIN</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Dept Events Attended</th>
      <th>Industrial Events Attended</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.uin %></td>
        <td><%= student.fname %></td>
        <td><%= student.lname %></td>
        <td><%= student.email %></td>
        <td><%= student.deptevents %></td>
        <td><%= student.indevents %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p><%= will_paginate @students =%></p>
<br>
