<p id="notice"><%= notice %></p>

<h3>Student Report</h3>
<%= form_for_filterrific @filterrific do |f| =%>
      <tr>
        <td>
          <%= f.text_field :search_query, :class => 'filterrific-periodically-observed form-control' =%>
        </td>
        <td>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by],
                      {}, { :class => 'form-control' } =%>
        </td>
      </tr>
  <% end %>
  <br>
  <tr>
    <td>
      <%= link_to "Reset filters", reset_filterrific_url =%> <%= render_filterrific_spinner =%>
    </td>
  </tr>
<br></br>
<div id="results">
  <%= render :partial => 'students/listreport',
           :locals => { :students => @students } =%>
</div>
  <br>
  <p><%= will_paginate @students =%></p>
  <br>
