<p id="notice"><%= notice %></p>
<table>
    <thead>
      <tr>
        <th>Student First Name</th>
        <th>Student Last Name</th>
        <th>Student Email</th>
        <th>Student UIN</th>
        <th>Check-in Time</th>
        <th colspan = 2>Manage</th>
      </tr>
    </thead>

    <tbody>
      <% @checkins.each do |checkin| %>
        <tr>
          <td><%= checkin.student.fname %></td>
          <td><%= checkin.student.lname %></td>
          <td><%= checkin.student.email %></td>
          <td><%= checkin.student.uin %></td>
          <td><%= l checkin.created_at, format: "%I:%M %p" %></td>
          <% if user_signed_in? %>
          <!-- <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
          <td><%= link_to 'Destroy', checkin, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Back', events_path %>