<p id="notice"><%= notice %></p>
<table>
    <thead>
      <%if !@checkins.empty? %>
        <tr>
          <th>Student First Name</th>
          <th>Last Name</th>
          <th>Check-in Time</th>
        </tr>
      <% else %>
      <tr> <a>This event has no check-in history! </a></tr>
      <% end %>
    </thead>

    <tbody>
      <% @checkins.each do |checkin| %>
        <tr>
          <td><%= checkin.student.fname %></td>
          <td><%= checkin.student.lname %></td>
          <td><%= l checkin.created_at, format: "%I:%M %p" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Back', events_path %>