<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :year, :selected => [ "2015" ], collection: 2015..2020 %>
    <%= f.input :term,:selected => [ "Spring" ], collection: ["Spring", "Summer", "Fall", "Winter"] %>
    <%= f.input :date, as: :date_picker %>
    <%= f.input :location %>
    <%= f.input :time, as: :time_picker %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
