<p id="notice"><%= notice %></p>

<div style="display:inline-block;">
  <table>
    <tr>
      <td>
        <strong>Event:</strong>
          <%= @event.name %>
      </td>
      <td>
        <strong>Term:</strong>
          <%= @event.term %> <%= @event.year %>
      </td>
      <td>
        <strong>Date:</strong>
          <%= @event.date %>
      </td>
      <td>
        <strong>Location:</strong>
          <%= @event.location %>
      </td>
      <td>
        <strong>Time:</strong>
          <%= @event.time %>
      </td>
    </tr>
  </table>
</div>
<br> </br>

<%= form_tag "/events/#{@event.id}/checkin", :id => 'swipe', remote: true do %>
  <h4><a>Swipe:</a>&nbsp;&nbsp;<%= text_field_tag "card" %> 
  <%= check_box_tag "fast" %> <a>Fast</a> </h4>
<% end %>

<br> </br>

<div id="fill_student", style="display:inline-block;">
</div>

<br> </br>
<div id="check_list", style="display:inline-block;">
  <%= render :partial => 'events/checklist',
           :locals => { :checkins => @checkins } =%>
</div>
