<% if admin_signed_in? %>
  <h3>Listing Events</h3>
  <%= form_for_filterrific @filterrific do |f| =%>
      <tr>
        <td>
          <%= f.text_field :search_query, :class => 'filterrific-periodically-observed form-control' =%>
        </td>
        <td>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by],
                      {}, { :class => 'form-control' } =%>
        </td>
        <td>
          <%= link_to "Reset filters", reset_filterrific_url =%>
        </td>
        <td>
          <%= link_to "Download List", "/events.xls", :format => 'csv' %>
        </td>
  <% end %>
  <%= render_filterrific_spinner =%>
<br>
<% elsif user_signed_in? %>
<h2>Today's Events</h2>
<% end %>
<div id="results">
  <%= render :partial => 'events/list',
           :locals => { :events => @events } =%>
</div>
  <p><%= will_paginate @events =%></p>
  <br>
  <% if admin_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
  <% end %>