<% if not admin_signed_in? and not user_signed_in? %>
	<h3 style="text-align: center">Welcome! Please log in to continue.</h3>
<% else %>
	<h3 style="text-align: center">Welcome!</h3>
<% end %>

  <%if !@events.empty? %>
  <h3 style="text-align: center">Upcoming Events</h3>
  <%= page_entries_info @events, :model => 'event' =%>
  <br></br>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Term</th>
        <th>Date</th>
        <th>Location</th>
        <th>Time</th>
        <% if admin_signed_in?  %>
		<th colspan = 3>Manage</th>
        <% end %>
      </tr>
    </thead>
   <% else %>
   <h3 style="text-align: center">No Upcoming Events</h3>
   <% end %>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.year %></td>
          <td><%= event.term %></td>
          <td><%= l event.date, format: :short %></td>
          <td><%= event.location %></td>
          <td><%= event.time %></td>
          <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <!--<% if user_signed_in? %>
          <td><%= link_to 'Check-in', check_event_path(event) %></td>
          <% end %>-->
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= will_paginate @events =%></p>