<% if not admin_signed_in? and not user_signed_in? %>
	<h3 style="text-align: center">Welcome! Please log in to continue.</h3>
<% else %>
	<h3 style="text-align: center">Welcome!</h3>
<% end %>

  <%if !@events.empty? %>
    <% if user_signed_in? %>
      <h3 style="text-align: center">Today's Events</h3>
    <% else %>
      <h3 style="text-align: center">Upcoming Events</h3>
    <% end %>
  <%= page_entries_info @events, :model => 'event' =%>
  <br></br>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Term</th>
        <th>Location</th>
        <th>Time</th>
		    <th colspan = 2>Manage</th>
      </tr>
    </thead>
   <% else %>
   <h3 style="text-align: center">No Upcoming Events</h3>
   <% end %>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= l event.date, format: :short %></td>
          <td><%= event.term %> <%= event.year %> </td>
          <td><%= event.location %></td>
          <td><%= event.time %></td>
          <% if admin_signed_in? %>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% elsif user_signed_in? %>
            <td><%= link_to 'Check-in', check_event_path(event) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= will_paginate @events =%></p>