<h3><%= page_entries_info @cards, :model => 'cards' =%></h3>

<p id="notice"><%= notice %></p>

<table style="margin-left: auto;margin-right: auto;">
  <thead>
    <% if !@cards.empty? %>
      <tr>
        <th>Card</th>
        <th>UIN</th> 
        <th>Manage</th>
      </tr>
    <% end %>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= card.uin %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>