<%= form_tag cards_import_url, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag("Import", :class => "sub_button" ) %>
<% end %>

<br>
<p id="notice"><%= notice %></p>  
<h3><%= page_entries_info @cards, :model => 'card' =%></h3>
<br></br>

<table>
  <thead>
    <% if !@cards.empty? %>
      <tr>
        <th>Card</th>
        <th>UIN</th>  
      </tr>
    <% end %>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= card.uin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= will_paginate @cards =%></p>
<br>

