<h3>Listing Checkins</h3>
  <%= form_for_filterrific @filterrific do |f| =%>
      <tr>
        <td>
          <%= f.text_field :search_query, :class => 'filterrific-periodically-observed form-control' =%>
        </td>
        <td>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by],
                      {}, { :class => 'form-control' } =%>
        </td>
        <td>
          <%= link_to "Reset filters", reset_filterrific_url =%>
        </td>
        <td>
          <%= link_to "Download", "/checkins.csv", :format => 'csv' %>
        </td>
  <% end %>
<%= render_filterrific_spinner =%>
<br>
<div id="results">
  <%= render :partial => 'checkins/list',
           :locals => { :checkins => @checkins } =%>
</div>
  <p><%= will_paginate @checkins =%></p>
  <br>
  <% if admin_signed_in? %>
  <%= link_to 'New Checkin', new_checkin_path %>
  <% end %>
